.banner {
	color: white;
	object-fit: contain;
	height: 50.8rem;
	max-height: 90vh;
}

.banner_content {
	margin-left: 6rem;
	padding-top: 18rem;
	height: 19rem;
}

.banner_title {
	font-size: 5rem;
	font-weight: 800;
	padding-bottom: 0.3rem;
	margin-bottom: 1rem;
	text-shadow: 1px 1px 1rem black;
}

.banner_description {
	line-height: 2.6rem;
	max-width: 60rem;
	height: 8rem;
	font-size: 2.1em;
	text-shadow: 1px 1px 1rem black;
}

.banner_button:first-child {
	font-size: 2rem;
	color: black;
	padding: 1.5rem 2rem;
	background-color: white;
	box-shadow: 1px 1px 2rem rgb(109, 109, 109);
}

.banner_button:first-child:hover {
	background-color: rgb(199, 199, 199);
}

.banner_button {
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 0.2vw;
	padding: 1.5rem 4rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	background-color: rgba(109, 109, 110, 0.7);
	transition: all 450ms;
}

.banner_button:hover {
	background-color: rgba(71, 71, 71, 0.7);
}

.banner_fadeBottom {
	height: 32rem;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgba(37, 37, 37, 0.61),
		#141414
	);
}
